In [1]:
import pandas as pd

In [ ]:
# load data
df = pd.read_csv("./task_4.csv")
df.head()

,filename,text,up_votes,down_votes,age,gender,accent,duration,generated_text,predicted
0,cv-valid-dev/sample-000000.mp3,be careful with your prognostications said the...,1,0,NaN,NaN,NaN,NaN,BE CAREFUL WITH YOUR PROGNOSTICATIONS SAID THE...,NaN
1,cv-valid-dev/sample-000001.mp3,then why should they be surprised when they se...,2,0,NaN,NaN,NaN,NaN,THEN WHY SHOULD THEY BE SURPRISED WHEN THEY SE...,NaN
2,cv-valid-dev/sample-000002.mp3,a young arab also loaded down with baggage ent...,2,0,NaN,NaN,NaN,NaN,A YOUNG ARAB ALSO LOADED DOWN WITH BAGGAGE ENT...,NaN
3,cv-valid-dev/sample-000003.mp3,i thought that everything i owned would be des...,3,0,NaN,NaN,NaN,NaN,I FELT THAT EVERYTHING I OWNED WOULD BE DESTROYED,NaN
4,cv-valid-dev/sample-000004.mp3,he moved about invisible but everyone could he...,1,0,fourties,female,england,NaN,HE MOVED ABOUT INVISIBLE BUT EVERY ONE COULD H...,NaN

In [6]:
df['predicted'].fillna(' ', inplace=True)
df

C:\Users\shrey\AppData\Local\Temp\ipykernel_26084\4093445841.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value ' ' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['predicted'].fillna(' ', inplace=True)

,filename,text,up_votes,down_votes,age,gender,accent,duration,generated_text,predicted
0,cv-valid-dev/sample-000000.mp3,be careful with your prognostications said the...,1,0,NaN,NaN,NaN,NaN,BE CAREFUL WITH YOUR PROGNOSTICATIONS SAID THE...,
1,cv-valid-dev/sample-000001.mp3,then why should they be surprised when they se...,2,0,NaN,NaN,NaN,NaN,THEN WHY SHOULD THEY BE SURPRISED WHEN THEY SE...,
2,cv-valid-dev/sample-000002.mp3,a young arab also loaded down with baggage ent...,2,0,NaN,NaN,NaN,NaN,A YOUNG ARAB ALSO LOADED DOWN WITH BAGGAGE ENT...,
3,cv-valid-dev/sample-000003.mp3,i thought that everything i owned would be des...,3,0,NaN,NaN,NaN,NaN,I FELT THAT EVERYTHING I OWNED WOULD BE DESTROYED,
4,cv-valid-dev/sample-000004.mp3,he moved about invisible but everyone could he...,1,0,fourties,female,england,NaN,HE MOVED ABOUT INVISIBLE BUT EVERY ONE COULD H...,
...,...,...,...,...,...,...,...,...,...,...
4071,cv-valid-dev/sample-004071.mp3,but they could never have taught him arabic,2,1,NaN,NaN,NaN,NaN,BUT THEY COULD NEVER HAVE TAUGHT HIM ARABIC,
4072,cv-valid-dev/sample-004072.mp3,he decided to concentrate on more practical ma...,1,0,NaN,NaN,NaN,NaN,HE DECIDED TO CONCENTRATE ON MORE PRACTICAL MA...,
4073,cv-valid-dev/sample-004073.mp3,that's what i'm not supposed to say,2,0,thirties,male,us,NaN,THAT'S WHAT I'M NOT SUPPOSED TO SAY,
4074,cv-valid-dev/sample-004074.mp3,just handling them made him feel better,3,0,NaN,NaN,NaN,NaN,JUST HERE THE WINPLE MADE HIM FEEL BETTER,
4075,cv-valid-dev/sample-004075.mp3,the city sealer's office,1,0,NaN,NaN,NaN,NaN,THE CITY SEILOR'S OFFICE,

In [ ]:
# hotword detection
HOTWORDS = ['be careful', 'destroy','stranger']
df['hotword_present'] = df['predicted'].apply(lambda x: any([word in x for word in HOTWORDS]))
df['hotword'] = df['predicted'].apply(lambda x: [word for word in HOTWORDS if word in x])

# get file name and hotword with hotword==True
try:
    df_hotword = df[df['hotword_present'==True]]
except:
    with open('detected.txt', 'w') as f:
        f.write("No hotword detected")
        exit()
        
# save to text file
filenames = df_hotword['filename'].tolist()
hotwords = df_hotword['hotword'].tolist()

with open('detected.txt', 'w') as f:
    for filename, hotword in zip(filenames, hotwords):
        f.write(f"{filename}: {hotword}\n")

NameError: name 'df_hotword' is not defined

: